@font-face {
  font-family: 'LouisGeorgeCafe';
  src: url('../fonts/louis_george_caf/Louis George Cafe.ttf'); /* IE9 Compat Modes */
  font-style:normal;
  font-weight: 100;
}

body {
  margin: 0px;
  font-family: 'LouisGeorgeCafe';
  background: #001524;
  overflow-x: hidden;
  max-width: 100vw;
}

header {
  display:flex;
  align-items:center;
  justify-content:flex-end;
  width: 100vw;
}

#linkDiv {
  margin-top: 3.75em;
  display: flex;
  align-items:center;
  position: fixed;
  z-index: 999;
}
header a {
  margin-top: 1.6em;
  margin-right: .5em;
  text-decoration: none;
}
header svg {
  margin: 0px;
  filter: drop-shadow(0px 2px 2px #222);
  z-index: 990;
}
#header-shape-gradient {
  --stop: #62a4ed;
  --mid: #EF5B5B;
  --bot: #bc9bc8;
}
.githubIconAncs {
  fill:white;
  height: 3.5em;
  width: 3.5em;
  fill: url(#header-shape-gradient) #fff;
}
.githubIconAncs not([data-scroll='0']) {
  fill: #FCFAF9;
}
.linkedinIconAncs {
  fill:white;
  height: 3.5em;
  width: 3.5em;
  fill: url(#header-shape-gradient) #fff;
}

.mainDisplay {
  height: auto;
}

.parentDivs {
  min-height:auto;
}

.homeDivs {
  /* min-height: 100vh; */
  /* box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.8); */
}

#resumeParentDiv {
  color: #cdf0e7;
  /* color: #CFD4C5; */
  font-size: 2em;
}
.resumeInfoDivs {
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 0em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

.resumeInfoDivs p, h1, h4 {
  /* padding-left: 1.5em; */
  margin: 0em;
  filter: drop-shadow(0px 2px 2px #222);
}
.resumeInfoDivs h4 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.resumeInfoDivs h3 {
  /* max-height: 100%;
  height: 100%; */
  filter: drop-shadow(0px 2px 2px #222);
  margin: 0em;
  margin-top: .5em;
  /* padding-left: 1em; */
  text-decoration: underline;
  /* margin-left: 1em; */
}
.resumeInfoDivs h1 {
  /* border-bottom: 1px solid #cdf0e7; */
}
.resumeInfoDivs span {
  display: flex;
  align-items: center;
}
.resumeInfoDivs b {
  font-size: 1.2em;
}

#resumeHeader {
  font-size: 2em;
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  /* background: grey;
  color: #001524; */
  background: #001524;
  color: #cdf0e7;
  /* color: #CFD4C5; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.8); */
  filter: drop-shadow(0px 2px 2px #222);
  z-index: 999;
}
#resumeHeader h2, #resumeHeader p {
  margin: 0em;
}
#resumeEducationDiv {
  /* background: #cdf0e7; */
  background: #62A4ED;
  /* background: #CFD4C5; */
  color: #001524;
}
#resumeExperienceDiv {
  color: #001524;
  background: #BC9BC8;
}
.resumeInfoWrappers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #cdf0e7;
}
#resumeSkillsDiv h3 {
  /* width: 50%; */
  text-decoration: none;
}
#resumeInterestsDiv h3 {
  text-decoration: none;
}
#resumeSkillsDiv {
  max-width: 50%;
  background: #cdf0e7;
  /* background: #CFD4C5; */
  color: #001524;
  align-items: center;
}
#resumeSkillsDiv p, #resumeSkillsDiv h1 {
  filter: drop-shadow(0px 2px 2px #222);
  /* width: 50%; */
}
#resumeSkillsDiv h1 {
  margin-bottom: .5em;
}
.resumeInfoDivSplitters {
  height: 1em;
  z-index: 400;
  background: #001524;
  filter: drop-shadow(0px 3px 2px #222);
  /* box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.8); */
}
#resumeInfoDivSplitter2 {
  display: none;
}
.skillImageDivs {
  /* width: 50%; */
  padding-left: 2em;
  padding-right: 2em;
  filter: drop-shadow(0px 2px 2px #222);
}
#skillImage {
  height: 2.5em;
  width: 2.5em;
}
#skillImageNode {
  height: 3.5em;
  width: 3.5em;
}
#resumeAwardsDiv {
  background: #BC9BC8;
  color: #001524;
  gap: 0.5em;
  /* width: 50%; */
  text-align: center;
}
#resumeLangsDiv {
  background: #EF5B5B;
  color: #001524;

}
#languagesContainer {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  gap: 1em;
}
#resumeInterestsDiv {
  background: #cdf0e7;
  color: #001524;
  max-width: 50%;
}
#resumeInterestsDiv p, h4 {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  /* width: 50%; */
}
@keyframes bodyDarken {
  0% {
    background: #cdf0e7;
  }
  100% {
    background: #001524;
  }
}

#welcomeHomeDiv {
  min-height: 100vh;
  font-size: 2em;
  color: #cdf0e7;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #001524;
}

#titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#titleContainer span {
  display:flex;
}
@keyframes welcomeLight {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow:
      0 0 7px #dff,
      0 0 10px #Dff,
      0 0 21px #Bff,
      0 0 55px #0ff;
  }
}

#welcomeHomeDiv h1 {
  font-size: 5.5em;
  margin: 0px;
  animation-name: welcomeLight;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  font-weight: bold;
  overflow: visible;
}

#titleContainer p {
  font-size:1.5em;
  margin: 0px;
  font-weight: bold;
  overflow: visible;
}

@keyframes titleALight {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow:
      0 0 7px #dff,
      0 0 10px #81c1ff,
      0 0 21px #62a4ed,
      0 0 42px #62a4ed;
  }
}

@keyframes titleBLight {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow:
      0 0 7px #ff9d96,
      0 0 10px #EF5B5B,
      0 0 21px #EF5B5B,
      0 0 42px #EF5B5B;
  }
}

@keyframes titleCLight {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow:
      0 0 7px #bc9bc8,
      0 0 10px #bc9bc8,
      0 0 21px #bc9bc8,
      0 0 42px #bc9bc8,
      0 0 82px #be9ac4;
  }
}

#titleA {
  color:#347FC4;
  animation-name: titleALight;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}
#titleB {
  color:#EF5B5B;
  animation-name: titleBLight;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}
#titleC {
  color:#7a5980;
  animation-name: titleCLight;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

#titleNavContainer {
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content:center;
  font-size:1.5em;
  color: #A3C4BC;
}
#titleNavContainer a {
  width: 50%;
  text-align: center;
  text-decoration: none;
  color: #A3C4BC;
  font-weight: bold;

}

#titleNavContainer .arrow-icon {
  height: 1.5em;
  width: 1.5em;
}

#titleNavContainer #websitesAnc p {
  animation-name: websitesTextAncAnimRev;
  animation-duration: 1.5s;
}
#titleNavContainer #websitesAnc:hover p {
  animation-duration: 1.5s;
  animation-name: websitesTextAncAnim;
  animation-fill-mode: forwards;

}

@keyframes websitesTextAncAnim {
  100% {
    color: #7A5980;
    text-shadow:
      0 0 7px #bc9bc8,
      0 0 10px #bc9bc8,
      0 0 21px #bc9bc8,
      0 0 42px #bc9bc8,
      0 0 82px #be9ac4;
      animation-play-state: paused;
  }
}
@keyframes websitesTextAncAnimRev {
  from {
    color: #7A5980;
    text-shadow:
      0 0 7px #bc9bc8,
      0 0 10px #bc9bc8,
      0 0 21px #bc9bc8,
      0 0 42px #bc9bc8,
      0 0 82px #be9ac4;
  }
  to {
    color: #A3C4BC;
    text-shadow: none;
  }
}

#titleNavContainer #websitesAnc .arrow-icon {
  height: 1.5em;
  width: 1.5em;
}
#titleNavContainer #websitesAnc:hover .arrow-icon {
  animation-duration: 2s;
  animation-name: websitesArrowAncAnim;
  animation-fill-mode: forwards;
}

@keyframes websitesArrowAncAnim {
  100% {
    fill: #8C2155;
  }
}

#titleNavContainer #websitesAnc svg {
  animation-name: websitesArrowAncAnimRev;
  animation-duration: 1.5s;
}
#titleNavContainer #websitesAnc:hover svg {
  animation-duration: 1.5s;
  animation-name: websitesArrowAncAnim;
  animation-fill-mode: forwards;

}

@keyframes websitesArrowAncAnim {
  100% {
    fill: #7A5980;
  }
}
@keyframes websitesArrowAncAnimRev {
  from {
    fill: #7A5980;
  }
  to {
    fill: #A3C4BC;
  }
}

#titleNavContainer #workAnc p {
  animation-name: workTextAncAnimRev;
  animation-duration: 1.5s;
}
#titleNavContainer #workAnc:hover p {
  animation-duration: 1.5s;
  animation-name: workTextAncAnim;
  animation-fill-mode: forwards;

}

@keyframes workTextAncAnim {
  100% {
    color:#347FC4;
    text-shadow:
      0 0 7px #dff,
      0 0 10px #81c1ff,
      0 0 21px #62a4ed,
      0 0 42px #62a4ed;
  }
}
@keyframes workTextAncAnimRev {
  from {
    color:#347FC4;
    text-shadow:
      0 0 7px #dff,
      0 0 10px #81c1ff,
      0 0 21px #62a4ed,
      0 0 42px #62a4ed;
  }
  to {
    color: #A3C4BC;
    text-shadow: none;
  }
}

#titleNavContainer #workAnc svg {
  animation-name: workArrowAncAnimRev;
  animation-duration: 1.5s;
}
#titleNavContainer #workAnc:hover svg {
  animation-duration: 1.5s;
  animation-name: workArrowAncAnim;
  animation-fill-mode: forwards;

}

@keyframes workArrowAncAnim {
  100% {
    fill:#347FC4;
  }
}
@keyframes workArrowAncAnimRev {
  from {
    fill: #A3C4BC;
  }
  to {
    fill: #A3C4BC;
  }
}

.homeNavSplitters {
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 0;
  height: 3.5em;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.5em;
  color: #FCFAF9;
  font-weight: bold;
  background: linear-gradient(245deg, #347fc4, #ef5b5b, #7a5980);
  background-size: 500% 500%;
  -webkit-animation: splitterBackgroundAnimation 16s ease infinite;
  -moz-animation: splitterBackgroundAnimation 16s ease infinite;
  animation: splitterBackgroundAnimation 16s ease infinite;
}
.homeNavSplitters a {

}
#priceExplanationDisplay {
  width: 80vw;
  color: #FCFAF9;
}
#priceExplanationDisplay h2 {
  text-align: center;
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: .25em;
  z-index: 50;
}
#priceExplanationDisplay h3 {
  justify-content:center;
}
#welcomeNavSplitter {
  top: 0;
  z-index:2;
}
#welcomeNavFootSplitter {
  width: 100vw;
  margin-left: 0px;
  height: 1.5em !important;
  bottom: 0 !important;
  top: .125em;
  margin-top: 0 !important;
  justify-content: flex-start;
  background: none;
  /* margin-top: 100vh - .75em !important; */
  z-index: 3;
}
#welcomeNavFootSplitter svg {
  filter: drop-shadow(0px 2px 2px #222);
  fill: url(#header-shape-gradient) #fff;
  height: 1.5em;
  width: 1.5em;
}
#welcomeNavSchedSplitter {
  background: none;
  width: 100vw;
  margin-left: 0px;
  height: 1.5em !important;
  bottom: 0 !important;
  /* top: 1.5em; */
  margin-top: 0 !important;
  justify-content: flex-start;
  /* margin-top: 100vh - .75em !important; */
  z-index: 3;
}
#welcomeNavSchedSplitter svg {
  filter: drop-shadow(0px 2px 2px #222);
  fill: url(#header-shape-gradient) #fff;
  margin-left: 1.5em;
  height: 1.5em;
  width: 1.5em;
}

@-webkit-keyframes splitterBackgroundAnimation {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
@-moz-keyframes splitterBackgroundAnimation {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
@keyframes splitterBackgroundAnimation {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
.homeNavSplitters a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FCFAF9;
  font-weight: bold;
}
#websitesHomeDiv {
  background: #001524;
  color: #FCFAF9;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size:2em;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.8);

}
#websitesPitchContainer {
  width: 80vw;

}
#websitesPitchContainer span {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content:center;
  font-size:1em;
}
#websitesPitchContainer span svg {
  height: 4em;
  width: 4em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0px;
  filter: drop-shadow(0px 2px 2px #222);

}
#websitesPitchContainer h2 {
  /* width: 100vw; */
  /* height: 20vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  z-index: 950;
  filter: drop-shadow(0px 2px 2px #222);
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: .25em;
}
#websitesHomeDivDisplay {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #001524;
  color: #FCFAF9;
  width: 100vw;
}
.websitesHomeDivContainers {
  padding: 30px;
  margin-top: 0px;
  width: 80vw;
}
#websitesHomeDivInfoContainer {
  /* width: 90vw; */
}
#websitesHomeDivInfoContainer span {

}
#websitesHomeDivInfoContainer span  p {
  width: 80%;
  margin: 0px;
}
#websitesHomeDivInfoContainer span svg {
  height: 4em;
  width: 4em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0px;
  filter: drop-shadow(0px 2px 2px #222);

}
#websitesInfoQualitySpan {
  z-index: 980;
}
.websitesHourlyDisplays {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:flex-start;
  margin-left: 0px;
  margin-top: 1em;
}
#webitesPackagesDisplay {
  width: auto;
}
#webitesPackagesDisplay ul {
  text-indent: -1em;
}
.priceInfoSpans {
  display: flex;
  height: auto;
  flex-direction: row;
  margin-top: .75em !important;
  margin-bottom: -.825em !important;
}
.priceInfoSpans p {
  font-size: .5em !important;
  margin-top: -1em !important;
  text-align:center;
}
.checkSVGs {
  fill:#347FC4;
}
.addListTexts::before {
  content: url('../images/check_black_48dp.svg') !important;
  fill:#347FC4;
  font-size:1.5em;
  /* margin-right: .25em; */
}
.excListTexts::before {
  content: url('../images/remove_circle_black_48dp.svg') !important;
  fill:#ef5b5b;
  font-size:1.5em;
  /* margin-left: -.15em; */
}
.markdownTexts {
  color: #7FB069;
}
#websitesPackagesHeader {
  display: flex;
  margin-bottom:-1.5em;
}
#websitesPackagesHeader h3 {
  margin: 0px;
}
.websitesOptionCellHeaders {
  position: -webkit-sticky;
  position: sticky;
  top: 0em;
  z-index:1500 !important;
  width: 100%;
  justify-content:center;
}
.websitesOptionCellHeaders h3, h5{
  height: .75em !important;
}
.websitesPackagesHeaderTitles {
  display: flex;
  flex-direction: column;
  align-items:center;
  z-index: 960;
  filter:drop-shadow(0px 2px 2px #222);
  /* justify-content:center; */
}
.websitesPackagesHeaderTitles p {
  margin-top: 0px;
  font-size: .5em;
}
#websitesPackagesBundleHeaderTitle {
  width: 75%;
  /* border-width: 1px;
  border-image: linear-gradient(to right, #7A5980, #347FC4, #EF5B5B, #7A5980) 1 !important; */
  /* margin-bottom: -2em; */
}
#websitesPackagesFeatureHeaderTitle {
  width: 25%;
}
.websitesHourlyCells {
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  margin: .25em;

}
#websitesPackagesDisplay .websitesHourlyCells {
  /* min-width: 9em; */
  margin: .5em !important;
}
#websitesPackagesDisplay .websitesHourlyCells:not(#websitesFeatureHourlyCell):hover {
  /* background: #FCFAF9; */
  color: #347FC4;
}
.websitesHourlyCellHeaders {
  display: flex;
  flex-direction: column;
  z-index: 996;
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 0;
  bottom: 1000;
  filter: drop-shadow(0px 2px 2px #222);
  width: 100%;
}
.websitesHourlyStaticCellHeaders {
  display: flex;
  flex-direction: column;
  z-index: 996;
  /* text-shadow: 0px 2px 2px #222; */
  filter: drop-shadow(0px 2px 2px #222);
  width: 100%;
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 0;
}
#websitesPackagesDisplay .priceInfoSpans {
  justify-content: flex-end;
  margin-bottom: -.5em !important;
}
#websitesPackagesDisplay ul {
  font-size: .7em;
  width: 100%;
  list-style: none;
  text-indent:-1.8em;
  margin-left: -.75em;
  /* padding-right: .5em; */
}
#websitesPackagesDisplay .excListTexts {

}
#websitesFeaturesTitle {
  /* margin-bottom: 0px; */
  /* margin-top: .5em; */
  font-size: .75em;
}
.featureListCells {
  max-height: 0em;
  margin-top: 0px;
  overflow-y: hidden;
  transition: max-height 0.15s ease-out;
  /* display:none; */

}
.featureListCells:hover{
  display:inline;
}
.featureListCellHeader {
  /* margin-bottom: 1em; */
  /* height: auto; */
  /* margin-bottom: .25em; */
  min-height: 2.5em;
  text-decoration: none;
  color: #FCFAF9;
}
.featureListCellHeaderRedPrices {
  display: none;
}
.featureListCellHeaderIncPrices {
  display: none;
}
.featureListCellHeader h3:nth-child(1) {
  color: #347FC4;
}
@keyframes featureListExpand {
  0% {
    max-height: 0em;
  }
  100% {
    max-height:auto;
    /* max-height: 100vh; */
  }
}
.featureListCellHeader:hover + .featureListCells {
  max-height:100vh;
  transition: max-height 0.4s ease-in;
  /* display:inline; */
  /* animation-name: featureListExpand;
  animation-duration:3s;
  animation-fill-mode: forwards; */
}
.featureListCellHeader h3, h5 {
  /* margin: .5em !important; */
  margin-bottom: .25em !important;
  height: 1em !important;
}
.featureListCellHeader h5 {
  margin-bottom: .25em !important;
  margin-top: .25em !important;
}
.featureListCells li {
  /* font-size: 1em !important;
  margin-bottom: .5em !important;
  margin-top: 1em !important; */
}
.featureListCellSplitters {
  /* display: flex;
  justify-content: space-around; */
  border-width: 1px;
  border-style: dashed;
  border-image: linear-gradient(to right, #7A5980, #347FC4) 1 ;
  width: 100%;
}
.featureListCellArrowsLeftSide {
  fill: linear-gradient(to right, #347FC4, #EF5B5B) 1;
}
.websitesHourlyInfoDivs {
  display: flex;
  flex-direction: column;
  margin-top: .5em;
}
.websitesHourlyInfoDivs ul {
  margin-bottom: 0px;
}
#websitesByHourlyDisplay .websitesHourlyCells {
  width: 6em;
}
#websitesByHourlyDisplay ul {
  margin-left: -1.75em;
  font-size: .6em;
  width: 100%;
  list-style: none;
  text-indent:-1em;
}
#websitesOnlineMarketingCell p {
  margin-top: .5em;
}
.websitesHourlyCells ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25em;
}
.websitesHourlyCells ul li:before {
  content:'- ';
  margin-right: .25em;
  margin-bottom: -1em !important;
}
.websitesHourlyCells h3, h5 {
  margin: .25em;
  text-align: center;
  width: 100%;
}
.websitesHourlyCells h3 {
  height: .5em;
}
.websitesHourlyCells h5 {
}
#websitesPackagesDisplay .websiteHourlyCellDividers {
  margin-top: 2.7em;
}
.websiteHourlyCellDividers {
  height: .25em;
  width: .25em;
  border-radius: 100%;
  border: 2px solid #347FC4;
  margin-top: 2.625em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7A5980;
}
.websiteHourlyCellDividers p {
}
#websitesMaintenanceDisplay .websitesHourlyCells ul {
  list-style-type: none;
  text-indent: -.9em;
}
.websitesHourlyCells h3, h5 {
  white-space: nowrap;
}
#websiteHourlyCellDividerB {
  border: #EF5B5B;
  color: #347FC4;
}
#websiteHourlyCellDividerC {
  border: #7A5980;
  color: #EF5B5B;
}
#websiteHourlyCellDividerD {
  border: #7A5980;
  color: #EF5B5B;
  margin: .5em;
  margin-top: 1em;
}
#websiteHourlyCellDividerG {
  border: #347FC4;
  color: #7A5980;
  margin: .5em;
  margin-top: 1em;
}
.websiteHourlyCellSplitters {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #347FC4, #EF5B5B) 1;
  width: 100%;
  filter: drop-shadow(0px 2px 2px #222);
}
#websiteHourlyCellSplitterA {
  border-image: linear-gradient(to right, #7A5980, #347FC4) 1;
}
#websiteHourlyCellSplitterC {
  border-image: linear-gradient(to right, #EF5B5B, #7A5980) 1;
}
#websiteHourlyCellSplitterD {
  border-image: linear-gradient(to right, #7A5980, #347FC4) 1;
}
#websiteHourlyCellSplitterE {
  border-image: linear-gradient(to right, #7A5980, #347FC4, #EF5B5B, #7A5980) 1;
}
#websiteHourlyCellSplitterF {
  border-image: linear-gradient(to right, #7A5980, #347FC4, #EF5B5B, #7A5980, #347FC4) 1;
}
#websiteHourlyCellSplitterG {
  border-image: linear-gradient(to right, #347FC4, #EF5B5B, #7A5980, #347FC4) 1;
}

.websitesHourlyCells p {
  margin: -0.005em;
  margin-bottom:-1.15em;
  font-size:.5em;
  width:100%;
  text-align: center;
}
#websiteHourlyAnc {
  font-size: 1.5em;
}

#websitesHomeDivNavContainer {
  width: 100vw;
  margin: 0px;
  display: flex;
  justify-content: center;
}
#websitesHomeDivNavContainer a {
  text-decoration: none;
}

#websitesScheduleDivNavContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 80vw;
}
#websitesScheduleInformationDisplay {
  width: 50%;
}
#websitesScheduleHeaderTitle {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: -1.25em;
  color: #FCFAF9;

}
#websitesScheduleHeaderTitle h3 {
  margin-bottom: 0px;
}
#websitesScheduleDisplay {
  display: flex;
  flex-wrap: wrap;
  color: #001524;
  width: 15em;
  /* height: 14.5em; */
  background: #FCFAF9;
  border-radius:10px;
  padding: .5em;
  font-size: 1.25em;
  margin-top: 1em
}
#scheduleHeader {
  width: 100%;
  flex-wrap: wrap;
  margin: 0px;
}
#scheduleHeader h3 {
  height: 1em;
  margin: 0px;
  font-weight: bold;
}
.weekDays {
  width: 2.1277em;
  margin: 0px;
  font-size:1em;
  text-align:center;
}
.scheduleDayCells {
  text-decoration: none;
  font-weight: bold;
  min-width: 2.1277em;
  height:2em;
  text-align: end;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 1px 1px #222);
  z-index:0 !important;
}
.featureListCellHeader {
  width: 100%;
}
.scheduleDayCellDateDisplay:hover .scheduleDayCellTexts {
  font-size: 1.5em;
  filter: drop-shadow(0px 2px 2px #222);
}
.scheduleDayCellTexts {
  color: #347FC4;
  width: 1em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scheduleDayDeadCells {
  color: #001524;
}

.continueToScheduleFormAncs {
  display: none;
  font-size:.5em;
  text-decoration: none;
}
.exitScheduleFormAncs {
  font-size:.5em;
  text-decoration: none;
}
.scheduleDayManagerDisplays {
  display:none;
  flex-direction: column;
  flex-wrap: wrap;
  align-items:center;
  font-size: 1em;
  height: 7em;
  width: 50%;
  margin-top:3em;
  margin-right: -1em;
}
.scheduleDayManagerDateDisplays {
  display:flex;
  flex-direction: column;
}
.scheduleDayManagerTimeslots {
  width: 1.25em;
  margin-right: .25em;
  margin-top: 0px;
  text-decoration: none;

}
.scheduleDayManagerTimeslots:hover {
  background: lightgreen;
}
.scheduleDayManagerTimeslots p {

}
.timeslotHours {
  font-size: .5em;
  margin: 0px;
  border-top: 2px dotted #001524;
  height: 1.25em;
}
.timeslotMins {
  font-size: .25em;
  margin: 0px;
  border-top: 1px dotted #001524;
  height: 1.25em;
}

#scheduleDayInfoForm {
  display: flex;
  flex-direction: column;
  margin-right: -1em;
}
.scheduleDayInfoForms {
  font-size:.5em;
  height: 7em;
  width: 50%;
  margin-top: -2em;
}
#scheduleDayInfoFormInputDiv input {
  width: 12em;
  font-size:.75em;
}
#scheduleDayInfoFormInputDiv textarea {
  width: 14.9em;
  min-height:7em;
  font-size:.75em;
}
#scheduleDayInfoFormInputDiv p {
  font-size:.5em;
  text-align:start;
  width: 20em;
  margin-top: 0px;
}
#scheduleDayInfoFormInputDiv a {
  margin-top:-2em;
  text-decoration: none;
}
#scheduleDayInfoFormTimeText {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
  margin-left: 1em;
}

.dayCellHeaders {
  height: 4em;
  width: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #001524;
}
.dayCellHeaderHeaders {
  height: .4em;
  margin:0px;
  opacity: 0.4;
}
.dayCellDates {
  position: absolute;
  color: #347FC4;
  font-size:3em;
  opacity: .4;
}
.dayTimeSlotDisplayContainers {
  height: 16em;
  overflow:scroll;
  color: #001524;
  display: none;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.dayTimeSlotsDisplays {
  display: flex;
}
.dayTimeSlotsDisplays p {
  width: 100%;
}
.minifiedHourCells {
  margin: 0px;
  border-bottom: 2px dotted #001524;

}
.minifiedMinuteCells {
  margin: 0px;
  font-size:.5em;
  border-bottom: 1px dotted #001524;
}
#websitesNavSplitter {
  background: #7A5980;
}
#workHomeDiv {
  min-height:90vh;
  color: #FCFAF9;
  align-items: center;
}
#websitesWorkHeaderTitle {
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 0em;
  z-index: 970;
}
#websitesWorkHeaderTitle h3 {
  margin: 0px;
  /* margin-bottom: -.15em; */
}
#websitesWorkHeaderTitle h6 {
  margin: 0px;
  /* margin-bottom: -.15em; */
}
#workHomeDiv img {
  max-width: 50em;
  min-width: 5em;
}
#workNavSplitter {
  background: #347FC4;
}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 600px)
and (-webkit-min-device-pixel-ratio: 2) {
  #resumeParentDiv {
    font-size: 2.5em;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  .resumeInfoDivs, .resumeInfoDivs p, .resumeInfoDivs h3 {
    width: 100%;
  }
  .resumeInfoWrappers {
    flex-direction: column;
  }
  #resumeInfoDivSplitter2 {
    display: flex;
  }
  #resumeSkillsDiv, #resumeInterestsDiv {
    max-width: 100%;
    width: 100%;
  }
  #resumeSkillsDiv span {
    width: 100%;
    justify-content: center;
  }
  #resumeSkillsDiv h3 {
    max-width: 50%;
  }
  #resumeInterestsDiv h3, #resumeInterestsDiv p {
    /* padding-left: 1em;
    padding-right: 1em; */
  }
  #linkDiv {
    flex-direction: column;
    /* margin-top: 1em; */
    top: 0;
  }
  .githubIconAncs {
    height: 6em;
    width: 6em;
    /* top: -1; */
    margin-top: -4em;
  }
  .linkedinIconAncs {
    height: 6em;
    width: 6em;
    /* margin-top: 3em; */
  }
  .homePageNavAncs {
    height: 2.5em !important;
    width: 2.5em !important;
    margin-top: 1em;
  }
  #welcomeNavSchedSplitter .homePageNavAncs {
    margin-left: 2.5em;
  }
  /* .linkedinIconAncs {
    height: 6em;
    width: 6em;
  } */
  #welcomeHomeDiv {

  }
  #welcomeHomeDiv h1 {
    animation: none;
  }
  #titleA {
    animation: none;
  }
  #titleB {
    animation: none;
  }
  #titleC {
    animation: none;
  }
  #priceExplanationDisplay {
    /* width: 80vw;
    color: #FCFAF9; */
    font-size: 1.5em;
  }
  #priceExplanationDisplay h2 {
    /* text-align: center; */
    /* position: -webkit-sticky; Safari & IE */
    /* position: sticky; */
    /* top: .25em; */
  }
  #priceExplanationDisplay h3 {
    /* justify-content:center; */
  }
  .homeNavSplitters {
    height: 6em;
  }
  #websitesHomeDiv {
    /* font-size:4em !important; */
  }
  #websitesPitchContainer {
    max-width: 100vw;
    align-items: center;
    margin-left: 1.5em;
  }
  #websitesPitchContainer h2 {
    max-width: 100vw;

  }
  #websitesPitchContainer span {
    flex-direction: column;
  }
  #websitesPitchContainer span:nth-child(odd) {
    flex-direction: column-reverse;
    /* color: red; */
  }
  #websitesPitchContainer p {
    font-size: 2em;
    width: 100% !important;
  }
  .websitesHourlyDisplays {
    font-size: 2em;
  }
  .websitesHourlyDisplays {
    flex-wrap: wrap;
    /* width: 100vw; */
  }
  .websitesHourlyCells {
    /* width: 80vw; */
    /* margin-left: 2.5em !important; */
  }
  .websitesHourlyCells ul {
    /* width: 60vw; */
    margin-left: 1em !important;
  }
  .websitesHourlyCellHeaders {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .websitesHourlyCellHeaders h3,h5 {
    /* width: 40%; */
  }
  .websitesHourlyCellHeaders h3 {
    /* margin-bottom: .75em; */

  }
  .websitesHourlyCellHeaders h5 {
    /* font-size: 1em;
    margin-bottom: 0em !important; */
  }
  .websiteHourlyCellSplitters {
    /* width: 100vw !important; */
    height: 1px;
    margin-left: 0em;
    margin-top: 0px;
  }
  .websitesHourlyCellHeaders {
    margin-top: .55em;
    /* position: relative; */
  }
  .websiteHourlyCellDividers {
    margin-top: 3.25em !important;
    margin-right: -1em;
    display: none;
  }
  #websitesByHourlyDisplay .websitesHourlyCells {
    font-size: 1em !important;
    width: 60vw;
  }
  #websitesByHourlyDisplay .websitesHourlyCells ul {
    font-size: 1em !important;
    /* width: 100% !important; */
    margin-left: 1em;
  }
  #websitesByHourlyDisplay .websitesHourlyCellHeaders {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .websitesPackagesHeaderTitles {
    font-size: 2em;
    position: -webkit-sticky;
    position: sticky;
    top: 1em;
    z-index: 950;
  }
  #websitesPackagesBundleHeaderTitle {
    /* display: none; */
    width: 100%;
  }
  #websitesPackagesFeatureHeaderTitle {
    display: none;
  }
  #websitesScheduleHeaderTitle {
    /* display: none; */
    font-size: 1.25em;
  }
   #websitesPackagesDisplay .websitesHourlyCells ul {
    /* width: 60vw; */
    margin-left: 0em !important;
  }
  #websitesPackagesDisplay ul {
    font-size: .7em;
    width: 100%;
    list-style: none;
    text-indent:-.9em;
    /* margin-left: 0px; */
    /* padding-right: .5em; */
  }
  #welcomeNavSchedSplitter {
    background: none;
    width: 100vw;
    /* margin-left: 0px; */
    height: 1.5em !important;
    /* bottom: 2 !important; */
    top: 2.5em;
    margin-top: 2em !important;
    justify-content: flex-start;
    /* margin-top: 100vh - .75em !important; */
    z-index: 1;
  }
  #welcomeNavSchedSplitter svg {
    filter: drop-shadow(0px 2px 2px #222);
    fill: url(#header-shape-gradient) #fff;
    margin-left: 0em !important;
    height: 1.5em;
    width: 1.5em;
    z-index: 900 !important;
  }
  #websitesScheduleDisplay {
    display: flex;
    flex-wrap: wrap;
    color: #001524;
    width: 15em;
    /* height: 14.5em; */
    background: #FCFAF9;
    border-radius:10px;
    padding: .5em;
    font-size: 1.75em;

  }
  #workHomeDiv {
    /* min-height:90vh;
    color: #FCFAF9; */
  }
  #websitesWorkHeaderTitle {
    /* position: -webkit-sticky; /* Safari & IE */
    /* position: sticky;
    top: 0em;
    z-index: 970; */
  }
  #websitesWorkHeaderTitle h3 {
    /* margin: 0px; */
    /* margin-bottom: -.15em; */
  }
  #workHomeDiv img {
    max-width: 95vw;
    min-width: 5em;
  }
  #workNavSplitter {
    background: #347FC4;
  }
}


/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  /* and (-webkit-min-device-pixel-ratio: 2) */
  and (orientation: portrait) {
    /* header:  {
      width: 100vw;
    } */
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* iPhone 6, 6s, 7 and 8 */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 766px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 834px)
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
  and (min-device-width: 834px)
  and (max-device-width: 834px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
  and (min-device-width: 1112px)
  and (max-device-width: 1112px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
  and (min-device-width: 1366px)
  and (max-device-width: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: portrait) {

}

/* Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: landscape) {

}
