@font-face {
  font-family: 'LouisGeorgeCafe';
  src: url('../fonts/louis_george_caf/Louis George Cafe.ttf'); /* IE9 Compat Modes */
  font-style:normal;
  font-weight: 100;
}

body {
  margin: 0px;
  font-family: 'LouisGeorgeCafe';
  background: #FCFAF9;
}

header {
  display:flex;
  align-items:center;
  justify-content:flex-end;
  width: 100vw;
  /* position: fixed;
  z-index: 999; */

  /* pointer-events: visible; */
}
#linkDiv {
  margin-top: 3.75em;
  display: flex;
  align-items:center;
  position: fixed;
  z-index: 999;
}
header a {
  margin-top: .25em;
  margin-right: .5em;
  text-decoration: none;
}
header svg {
  margin: 0px;
  filter: drop-shadow(0px 2px 2px #222);
}
#header-shape-gradient {
  --color-stop: #62a4ed;
  --color-mid: #EF5B5B;
  --color-bot: #bc9bc8;
}
.githubIconAncs {
  fill:white;
  height: 3em;
  width: 3em;
  fill: url(#header-shape-gradient) #fff;
}
.githubIconAncs not([data-scroll='0']) {
  fill: #FCFAF9;
}
.linkedinIconAncs {
  fill:white;
  height: 3.5em;
  width: 3.5em;
  fill: url(#header-shape-gradient) #fff;
}
.homeDivs {
  height: 90vh;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.8);
}

@keyframes bodyDarken {
  0% {
    background: #cdf0e7;
  }
  100% {
    background: #001524;
  }
}

#welcomeHomeDiv {
  height: 100vh;
  font-size: 2em;
  color: #cdf0e7;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #001524;
  /* animation-name: bodyDarken;
  animation-duration: 1s;
  animation-fill-mode: forwards; */
}

#titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes welcomeLight {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow:
      0 0 7px #dff,
      0 0 10px #Dff,
      0 0 21px #Bff,
      0 0 55px #0ff;
  }
}

#welcomeHomeDiv h1 {
  font-size: 5.5em;
  margin: 0px;
  animation-name: welcomeLight;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
    /* 0 0 82px #0ff,
    0 0 92px #0ff,
    0 0 102px #0ff,
    0 0 151px #0ff; */
  font-weight: bold;
}

#titleContainer p {
  font-size:1.5em;
  margin: 0px;
  /* text-shadow:
    0 0 7px #dff,
    0 0 10px #Bff,
    0 0 21px #0ff; */
  font-weight: bold;
}

@keyframes titleALight {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow:
      0 0 7px #dff,
      0 0 10px #81c1ff,
      0 0 21px #62a4ed,
      0 0 42px #62a4ed;
  }
}

@keyframes titleBLight {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow:
      0 0 7px #ff9d96,
      0 0 10px #EF5B5B,
      0 0 21px #EF5B5B,
      0 0 42px #EF5B5B;
  }
}

@keyframes titleCLight {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow:
      0 0 7px #bc9bc8,
      0 0 10px #bc9bc8,
      0 0 21px #bc9bc8,
      0 0 42px #bc9bc8,
      0 0 82px #be9ac4;
  }
}

#titleA {
  color:#347FC4;
  animation-name: titleALight;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}
#titleB {
  color:#EF5B5B;
  animation-name: titleBLight;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}
#titleC {
  color:#7a5980;
  animation-name: titleCLight;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

#titleNavContainer {
  height: 40vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content:center;
  font-size:1.5em;
  color: #A3C4BC;
}
#titleNavContainer a {
  width: 50%;
  text-align: center;
  text-decoration: none;
  color: #A3C4BC;
  font-weight: bold;

}

#titleNavContainer .arrow-icon {
  height: 1.5em;
  width: 1.5em;
}

#titleNavContainer #websitesAnc p {
  animation-name: websitesTextAncAnimRev;
  animation-duration: 1.5s;
}
#titleNavContainer #websitesAnc:hover p {
  animation-duration: 1.5s;
  animation-name: websitesTextAncAnim;
  animation-fill-mode: forwards;

}

@keyframes websitesTextAncAnim {
  100% {
    color: #7A5980;
    text-shadow:
      0 0 7px #bc9bc8,
      0 0 10px #bc9bc8,
      0 0 21px #bc9bc8,
      0 0 42px #bc9bc8,
      0 0 82px #be9ac4;
      animation-play-state: paused;
  }
}
@keyframes websitesTextAncAnimRev {
  from {
    color: #7A5980;
    text-shadow:
      0 0 7px #bc9bc8,
      0 0 10px #bc9bc8,
      0 0 21px #bc9bc8,
      0 0 42px #bc9bc8,
      0 0 82px #be9ac4;
  }
  to {
    color: #A3C4BC;
    text-shadow: none;
  }
}

#titleNavContainer #websitesAnc .arrow-icon {
  height: 1.5em;
  width: 1.5em;
}
#titleNavContainer #websitesAnc:hover .arrow-icon {
  animation-duration: 2s;
  animation-name: websitesArrowAncAnim;
  animation-fill-mode: forwards;
}

@keyframes websitesArrowAncAnim {
  100% {
    fill: #8C2155;
  }
}

#titleNavContainer #websitesAnc svg {
  animation-name: websitesArrowAncAnimRev;
  animation-duration: 1.5s;
}
#titleNavContainer #websitesAnc:hover svg {
  animation-duration: 1.5s;
  animation-name: websitesArrowAncAnim;
  animation-fill-mode: forwards;

}

@keyframes websitesArrowAncAnim {
  100% {
    fill: #7A5980;
  }
}
@keyframes websitesArrowAncAnimRev {
  from {
    fill: #7A5980;
  }
  to {
    fill: #A3C4BC;
  }
}

#titleNavContainer #workAnc p {
  animation-name: workTextAncAnimRev;
  animation-duration: 1.5s;
}
#titleNavContainer #workAnc:hover p {
  animation-duration: 1.5s;
  animation-name: workTextAncAnim;
  animation-fill-mode: forwards;

}

@keyframes workTextAncAnim {
  100% {
    color:#347FC4;
    text-shadow:
      0 0 7px #dff,
      0 0 10px #81c1ff,
      0 0 21px #62a4ed,
      0 0 42px #62a4ed;
  }
}
@keyframes workTextAncAnimRev {
  from {
    color:#347FC4;
    text-shadow:
      0 0 7px #dff,
      0 0 10px #81c1ff,
      0 0 21px #62a4ed,
      0 0 42px #62a4ed;
  }
  to {
    color: #A3C4BC;
    text-shadow: none;
  }
}

/* #titleNavContainer #workAnc .arrow-icon {
  height: 1.5em;
  width: 1.5em;
}
#titleNavContainer #workAnc:hover .arrow-icon {
  animation-duration: 2s;
  animation-name: workArrowAncAnim;
  animation-fill-mode: forwards;
}

@keyframes workArrowAncAnim {
  100% {
    fill: #7A5980;
  }
} */

#titleNavContainer #workAnc svg {
  animation-name: workArrowAncAnimRev;
  animation-duration: 1.5s;
}
#titleNavContainer #workAnc:hover svg {
  animation-duration: 1.5s;
  animation-name: workArrowAncAnim;
  animation-fill-mode: forwards;

}

@keyframes workArrowAncAnim {
  100% {
    fill:#347FC4;
  }
}
@keyframes workArrowAncAnimRev {
  from {
    fill: #A3C4BC;
  }
  to {
    fill: #A3C4BC;
  }
}

.homeNavSplitters {
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 0;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.5em;
  color: #FCFAF9;
  font-weight: bold;
  /* border-width: 4px;
  border-style: solid; */
  /* background: linear-gradient(to right, #347FC4, #EF5B5B, #7A5980); */
  /* background-image: linear-gradient(to right, #347FC4, #EF5B5B, #7A5980) 1; */
  background: linear-gradient(245deg, #347fc4, #ef5b5b, #7a5980);
  background-size: 500% 500%;
  -webkit-animation: splitterBackgroundAnimation 16s ease infinite;
  -moz-animation: splitterBackgroundAnimation 16s ease infinite;
  animation: splitterBackgroundAnimation 16s ease infinite;
}
.homeNavSplitters a {
  /* z-index: 999; */
}
@-webkit-keyframes splitterBackgroundAnimation {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
@-moz-keyframes splitterBackgroundAnimation {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
@keyframes splitterBackgroundAnimation {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
.homeNavSplitters a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FCFAF9;
  font-weight: bold;
}
#websitesHomeDiv {
  background: #001524;
  color: #FCFAF9;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* flex-wrap: wrap; */
  font-size:2em;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.8);
}
#websitesHomeDiv h2 {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
#websitesHomeDivDisplay {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #001524;
  color: #FCFAF9;
  width: 100vw;
  /* box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.8); */
}
.websitesHomeDivContainers {
  padding: 30px;
  margin-top: 0px;
  /* min-height: 400px; */
}
#websitesHomeDivInfoContainer {
  width: 70vw;
}
#websitesHomeDivInfoContainer span {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content:center;
  font-size:1em;
}
#websitesHomeDivInfoContainer span  p {
  /* padding: 1em; */
  width: 80%;
  margin: 0px;
}
#websitesHomeDivInfoContainer span svg {
  height: 4em;
  width: 4em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0px;
  /* filter:drop-shadow(0px 2px 2px #222); */
}
#websitesInfoQualitySpan {
  /* justify-content: flex-start; */
}
.websitesHourlyDisplays {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:flex-start;
  /* width: 100vw; */
  margin-left: 0px;
}
#webitesPackagesDisplay {
  width: auto;
}
#webitesPackagesDisplay ul {
  text-indent: -1em;
}
.priceInfoSpans {
  /* height: 1em; */
  display: flex;
  height: auto;
  flex-direction: row;

  /* align-items: flex-end; */
  /* font-size: 4em; */
  margin-top: .75em !important;
  margin-bottom: -.825em !important;
}
.priceInfoSpans p {
  font-size: .5em !important;
  margin-top: -1em !important;
  text-align:center;
  /* margin-bottom: 0em !important; */
}
.addListTexts::before {
  content:'+' !important;
  color:#347FC4;
  font-size:1.5em;
  margin-right: .25em;
}
#websitesPackagesDisplay .excListTexts {
  /* text-indent: -1.5em; */
}
.excListTexts::before {
  /* content:'+' !important; */
  color:#ef5b5b;
  font-size:1.5em;
  margin-left: -.15em;
  /* margin-right:.25em !important; */
}
.markdownTexts {
  color: #7FB069;
}
.websitesHourlyCells {
  /* width: 6em; */
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  /* padding: .5em; */
  width: 6em;
  margin: .25em;
}
.websitesHourlyCells ul {
  font-size: .6em;
  width: 100%;
  margin-left: -1.75em;
  list-style: none;
  text-indent:-1em;
}
.websitesHourlyCells ul li:before {
  content:'- ';
  margin-right: .25em;
}
.websitesHourlyCells h3, h5 {
  margin: .25em;
  text-align: center;
  width: 100%;;
  /* padding-left: .1em;
  padding-right: .1em; */
}
.websitesHourlyCells h3 {
  height: .5em;
}
.websitesHourlyCells h5 {
}
.websiteHourlyCellDividers {
  height: .25em;
  width: .25em;
  border-radius: 100%;
  border: 2px solid #347FC4;
  margin-top: 2.625em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7A5980;
}
.websiteHourlyCellDividers p {
}
#websiteHourlyCellDividerB {
  border-color: #EF5B5B;
  color: #347FC4;
}
#websiteHourlyCellDividerC {
  border-color: #7A5980;
  color: #EF5B5B;
}
.websiteHourlyCellSplitters {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #347FC4, #EF5B5B) 1;
  width: 100%;
}
#websiteHourlyCellSplitterA {
  border-image: linear-gradient(to right, #7A5980, #347FC4) 1;
}
#websiteHourlyCellSplitterC {
  border-image: linear-gradient(to right, #EF5B5B, #7A5980) 1;
}
#websiteHourlyCellSplitterD {
  border-image: linear-gradient(to right, #7A5980, #347FC4) 1;
}

.websitesHourlyCells p {
  margin: -0.005em;
  margin-bottom:-1.15em;
  font-size:.5em;
  width:100%;
  text-align: center;
}
#websiteHourlyAnc {
  font-size: 1.5em;
}

#websitesHomeDivNavContainer {
  width: 100vw;
  margin: 0px;
  display: flex;
  justify-content: center;
}
#websitesHomeDivNavContainer a {
  text-decoration: none;
}
#websitesScheduleInformationDisplay {
  width: 50%;
}
#websitesScheduleDisplay {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  color: #001524;
  width: 15em;
  height: 14.5em;
  background: #FCFAF9;
  border-radius:10px;
  padding: .5em;
}
#scheduleHeader {
  width: 100%;
  flex-wrap: wrap;
  margin: 0px;
}
#scheduleHeader h3 {
  height: 1em;
  margin: 0px;
  font-weight: bold;
}
.weekDays {
  width: 2.1277em;
  margin: 0px;
  font-size:1em;
  text-align:center;
}
.scheduleDayCells {
  /* width: 6em; */
  text-decoration: none;
  font-weight: bold;
  /* border: 1px solid #001524; */
  min-width: 2.1277em;
  height:2em;
  text-align: end;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 1px 1px #222);
}
.scheduleDayCellDateDisplay:hover .scheduleDayCellTexts {
  font-size: 1.5em;
  filter: drop-shadow(0px 2px 2px #222);
}
.scheduleDayCellTexts {
  color: #347FC4;
  /* height: 2.5em; */
  width: 1em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scheduleDayDeadCells {
  color: #001524;
}

.continueToScheduleFormAncs {
  display: none;
  font-size:.5em;
  text-decoration: none;
}
.exitScheduleFormAncs {
  font-size:.5em;
  text-decoration: none;
}
.scheduleDayManagerDisplays {
  display:none;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content:space-between; */
  align-items:center;
  font-size: 1em;
  height: 7em;
  width: 50%;
  margin-top:3em;
  margin-right: -1em;
}
.scheduleDayManagerDateDisplays {
  display:flex;
  flex-direction: column;
}
.scheduleDayManagerTimeslots {
  width: 1.25em;
  margin-right: .25em;
  margin-top: 0px;
  /* display: flex; */
  /* justify-content: flex-start; */
  text-decoration: none;

}
.scheduleDayManagerTimeslots:hover {
  background: lightgreen;
}
.scheduleDayManagerTimeslots p {
  /* margin-top: -.3em; */
}
.timeslotHours {
  font-size: .5em;
  margin: 0px;
  border-top: 2px dotted #001524;
  height: 1.25em;
}
.timeslotMins {
  font-size: .25em;
  margin: 0px;
  border-top: 1px dotted #001524;
  /* margin-top: -1px; */
  height: 1.25em;
}

#scheduleDayInfoForm {
  display: flex;
  flex-direction: column;
  margin-right: -1em;
}
.scheduleDayInfoForms {
  font-size:.5em;
  height: 7em;
  width: 50%;
  margin-top: -2em;
}
#scheduleDayInfoFormInputDiv input {
  width: 12em;
  font-size:.75em;
}
#scheduleDayInfoFormInputDiv textarea {
  width: 14.9em;
  min-height:7em;
  font-size:.75em;
}
#scheduleDayInfoFormInputDiv p {
  font-size:.5em;
  text-align:start;
  width: 20em;
  margin-top: 0px;
}
#scheduleDayInfoFormInputDiv a {
  margin-top:-2em;
  text-decoration: none;
}
#scheduleDayInfoFormTimeText {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
  margin-left: 1em;
}

.dayCellHeaders {
  height: 4em;
  width: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #001524;
  /* border-bottom: 1px solid #001524; */
}
.dayCellHeaderHeaders {
  height: .4em;
  margin:0px;
  opacity: 0.4;
}
.dayCellDates {
  position: absolute;
  color: #347FC4;
  font-size:3em;
  opacity: .4;
}
.dayTimeSlotDisplayContainers {
  height: 16em;
  overflow:scroll;
  color: #001524;
  display: none;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.dayTimeSlotsDisplays {
  display: flex;
}
.dayTimeSlotsDisplays p {
  width: 100%;
}
.minifiedHourCells {
  margin: 0px;
  border-bottom: 2px dotted #001524;

}
.minifiedMinuteCells {
  margin: 0px;
  font-size:.5em;
  border-bottom: 1px dotted #001524;
}
#websitesNavSplitter {
  background: #7A5980;
}
#workHomeDiv {
  background: #347FC4;
  height:90vh
}
#workNavSplitter {
  background: #347FC4;
}
