<div class="parentDivs" ng-controller="resumeCtrl" id="resumeParentDiv">

  <div class="" id="resumeHeader">
    <h2>Sam Cate</h2>
    <p>Full-Stack Developer</p>
  </div>
  <div class="resumeInfoDivs" id="resumeEducationDiv">
    <h1>Education</h1>
    <h3>
      Galvanize Full-Stack Web Development Bootcamp  -  2016
    </h3>
    <p>
      Full-Stack Agile Web Development Certificate
    </p>
  </div>
  <div class="resumeInfoDivSplitters" id="resumeInfoDivSplitter0">

  </div>
  <div class="resumeInfoDivs" id="resumeExperienceDiv">
    <h1>Experience</h1>
    <h3>
      Freelance Software & Web Developer
    </h3>
    <p>
      2017 to Present
    </p>
    <h3>
      Senior Developer at Yellow Bag of Humanity
    </h3>
    <p>
      February 2021 to Present - Richmond, Indiana
    </p>
  </div>
  <div class="resumeInfoDivSplitters" id="resumeInfoDivSplitter1">

  </div>
  <div class="resumeInfoWrappers">

    <div class="resumeInfoDivs" id="resumeSkillsDiv">
      <h1>Computing Skills</h1>
      <span>
        <div class="skillImageDivs">
          <img id="skillImage" src="../images/html-svgrepo-com.svg" alt="">
          <img id="skillImage" src="../images/css-svgrepo-com.svg" alt="">
          <img id="skillImage" src="../images/sass-svgrepo-com.svg" alt="">
        </div>
        <h3>
          HTML5 <b>|</b> CSS3 <b>|</b> SASS <b>|</b> SCSS
        </h3>
      </span>
      <span>
        <h3>
          JavaScript <b>|</b> AngularJS
        </h3>
        <div class="skillImageDivs">
          <img id="skillImage" src="../images/javascript.svg" alt="">
          <img id="skillImage" src="../images/angular-svgrepo-com.svg" alt="">
        </div>
      </span>
      <span>
        <div class="skillImageDivs">
          <img id="skillImage" src="../images/Python_logo_01.svg.png" alt="">
        </div>
        <h3>
          Python <b>|</b> Solidarity
        </h3>
      </span>
      <span>
        <h3>
          NodeJs <b>|</b> Express
        </h3>
        <div class="skillImageDivs">
          <img id="skillImageNode" src="../images/nodejs-svgrepo-com.svg" alt="">
        </div>
      </span>
      <span>
        <div class="skillImageDivs">
          <img id="skillImage" src="../images/pgsql-svgrepo-com.svg" alt="">
          <img id="skillImage" src="../images/mysql-svgrepo-com.svg" alt="">
          <img id="skillImage" src="../images/db-svgrepo-com.svg" alt="">
        </div>
        <h3>
          PostgreSQL <b>|</b> MySQL <b>|</b> Knex.js
        </h3>
      </span>
      <span>
        <h3>
          Git <b>|</b> GitHub
        </h3>
        <div class="skillImageDivs">
          <img id="skillImage" src="../images/git-svgrepo-com.svg" alt="">
          <img id="skillImage" src="../images/github-svgrepo-com (1).svg" alt="">
        </div>
      </span>
    </div>
    <div class="resumeInfoDivSplitters" id="resumeInfoDivSplitter2">

    </div>
    <div class="resumeInfoDivs" id="resumeInterestsDiv">
      <h1>Interests</h1>
      <h3>Motorsports <b>|</b> Web Design <b>|</b> Game Development <b>|</b> Technology</h3>
      <p>I created my first ‘Hello World’ program the same year I won my first championship at New Castle Motorsports Park. For the better part of 10 years, development and racing have been the two biggest loves of my life</p>
    </div>
  </div>
  <div class="resumeInfoDivSplitters" id="resumeInfoDivSplitter3">

  </div>
  <div class="resumeInfoDivs" id="resumeLangsDiv">
    <h1>Spoken Languages</h1>
    <div class="" id="languagesContainer">
      <div class="langCells">
        <p><b>English</b></p>
        <p><i>Native Speaker</i></p>
      </div>
      <div class="langCells">
        <p><b>Spanish</b></p>
        <p><i>3 Years HS Spanish</i></p>
      </div>
    </div>
  </div>
  <div class="resumeInfoDivSplitters" id="resumeInfoDivSplitter4">

  </div>
  <div class="resumeInfoDivs" id="resumeAwardsDiv">
    <h1>Awards & Achievements</h1>
    <p><i>2 Time Kart Racers of America Champion at New Castle Motorsports Park</i></p>
    <p><i>Multiple World Karting Association & United States Pro Karting national race wins</i></p>
    <p><i>Model Legislature House Majority Leader</i></p>
  </div>

</div>
